
<div class="container">
    <div class="row mt-3">
        <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row text-center">
                <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                   <h3>Leave and Log Management System</h3>
                   <img src="" alt="">
                </div>
                <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="button_container">
                        <p class="description"></p>
                        <button class="btn"><span><a routerLink="/admin">Admin</a></span></button>
                    </div>
                </div>
                <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="button_container_2">
                        <p class="description"></p>
                        <button class="btn"><span><a routerLink="/guardlogin">Security</a></span></button>
                    </div>
                </div>
                <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="button_container_3">
                        <p class="description"></p>
                        <button class="btn"><span><a routerLink="/emp">Employee</a></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
